<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#0099ff" fill-opacity="1" d="M0,288L1440,224L1440,0L0,0Z"></path>
</svg>

<h1 class="text-white">
  Nuestro concepto se basa en la creacion de momentos especiales de acuerdo a
  las necesidades de cada cliente...
</h1>

<div class="message">
  <p class="card">
    En Experiencias Memorables Eventos creemos en lo que hacemos y estamos
    convencidos de que hay una sola manera de hacer las cosas y es hacerlas
    bien. Esta empresa se dedica hace mas de una decada a brindar servicios de
    catering / organizacion integral para eventos, llevando hasta su celebración
    de excelencia y garantía de que todo saldrá según lo previsto.
  </p>
</div>
