<header>
  <h1>
    Nuestro concepto se basa en la creacion de momentos especiales de acuerdo a
    las necesidades de cada cliente...
  </h1>
</header>
<div class="message">
  <p class="card text-white">
    En Experiencias Memorables Eventos creemos en lo que hacemos y estamos
    convencidos de que hay una sola manera de hacer las cosas y es hacerlas
    bien. Esta empresa se dedica hace mas de una decada a brindar servicios de
    catering / organizacion integral para eventos, llevando hasta su celebración
    de excelencia y garantía de que todo saldrá según lo previsto.
  </p>
</div>
