<h1 class="title">Nuestros Servicios</h1>
<div class="services" *ngIf="!serviceSelected">
  <div
    class="service"
    *ngFor="let service of services.data"
    (click)="setService(service)"
    [ngClass]="{ cursor_pointer: service.images.length > 0 }"
  >
    <div class="icon">
      <img
        [src]="'assets/service_icons/' + service.name.toString() + '.png'"
        alt=""
      />
    </div>
    <h5 class="title">{{ service.name }}</h5>
  </div>
</div>

<div
  class="service-description"
  *ngIf="serviceSelected && serviceSelected.images.length > 0"
>
  <button class="icon_close" (click)="clearSelectedService()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 48 48"
    >
      <path
        style="fill: #f44336"
        d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
      />
      <path
        style="fill: #ffffff"
        d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
      />
      <path
        style="fill: #ffffff"
        d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
      />
    </svg>
  </button>
  <swiper
    [slidesPerView]="1"
    [pagination]="true"
    navigation
    effect="fade"
    [autoplay]="{
      delay: 4000,
      disableOnInteraction: true
    }"
    class="carousel"
  >
    <ng-template
      swiperSlide
      *ngFor="let img of serviceSelected.images; index as i"
    >
      <div class="service_imgs">
        <div class="info">
          <h1 class="service_name">{{ serviceSelected.name }}</h1>
        </div>
        <div class="img-container">
          <img [ngSrc]="img.secure_url" alt="" fill priority />
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
