<h1 class="title">Nuestros Servicios</h1>
<!-- <swiper
  [slidesPerView]="1"
  [pagination]="true"
  navigation
  effect="fade"
  [autoplay]="{
    delay: 4000,
    disableOnInteraction: true
  }"
  class="services"
>
  <ng-template swiperSlide *ngFor="let service of services; index as i">
    <div class="service">
      <div class="info">
        <h2>{{ service.name }}</h2>
        <p class="text-muted">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi ad nisi
          quia neque, maxime maiores harum ducimus quo libero. Nulla,
          accusantium quod! Fugit provident animi itaque? Repellat accusantium
          aperiam possimus? Facere iure quisquam adipisci officiis. Magni
          aspernatur quia nesciunt, dignissimos ab harum dolore. Voluptatem modi
          similique, maiores placeat hic, mollitia corporis velit doloremque
          sunt necessitatibus dignissimos excepturi atque nam quo! Nesciunt rem
          corrupti expedita aliquid ipsa recusandae error nisi culpa sed
          doloribus voluptates sequi unde fugit voluptas perspiciatis odit nulla
          in maxime, ab minima vero, enim officia necessitatibus. Id, mollitia.
          Voluptatibus voluptas facilis cupiditate praesentium officia.
          Reprehenderit laudantium illum rem at omnis, optio officia dolor id
          amet doloribus fugiat repellendus ea harum, dolorum hic necessitatibus
          vitae delectus sit obcaecati ipsam? Animi commodi repellat quibusdam
          aliquam aut voluptas voluptates nobis dolores nam eum placeat facilis
          sint dolorum dicta cumque odio accusantium aliquid delectus, et quis.
          Quos, maxime iste! Nostrum, aperiam ipsa.
        </p>
      </div>
      <div class="img-container">
        <img
          [ngSrc]="'https://picsum.photos/1920/1080/?random=' + (i + 1)"
          alt=""
          fill
          priority
        />
      </div>
    </div>
  </ng-template>
</swiper> -->

<div class="services">
  <div
    class="service"
    *ngFor="let service of services"
    (click)="setService(service)"
    [ngClass]="{ cursor_pointer: service.img.length > 0 }"
  >
    <div class="icon">
      <img
        [src]="'assets/service_icons/' + service.name.toString() + '.png'"
        alt=""
      />
    </div>
    <h5 class="title">{{ service.name }}</h5>
  </div>
</div>

<div
  class="service-description"
  *ngIf="serviceSelected && serviceSelected.img.length > 0"
>
  <button class="icon_close" (click)="clearSelectedService()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </button>
  <swiper
    [slidesPerView]="1"
    [pagination]="true"
    navigation
    effect="fade"
    [autoplay]="{
      delay: 4000,
      disableOnInteraction: true
    }"
    class="carousel"
  >
    <ng-template
      swiperSlide
      *ngFor="let img of serviceSelected.img; index as i"
    >
      <div class="service_imgs">
        <div class="info">
          <h1 class="service_name">{{ serviceSelected.name }}</h1>
        </div>
        <div class="img-container">
          <img [ngSrc]="'assets/' + img.src" alt="" fill priority />
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
