<h1 class="text-white p-1">Nuestras Experiencias Memorables</h1>

<div class="wrapper">
  <div class="photos-list">
    <div
      class="img-container"
      [ngClass]="{ selected: img.isSelected }"
      (click)="setSelectedImg(img.id)"
      *ngFor="let img of Photos; index as i"
    >
      <img [ngSrc]="img.imgRef" alt="" fill loading="lazy" />
    </div>
  </div>
  <div class="photos-viewer">
    <ng-container *ngIf="imgSelected; else elseTemplate">
      <img [src]="imgSelected.imgRef" />
    </ng-container>
    <ng-template #elseTemplate>
      <h5>No hay ninguna imagen seleccionada</h5>
    </ng-template>
  </div>
</div>
