<div class="img-background">
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=1" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=2" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=3" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=4" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=5" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=6" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=7" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=8" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=9" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=10" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=11" fill priority />
  </div>
  <div class="img-container">
    <img ngSrc="https://picsum.photos/1920/?random=12" fill priority />
  </div>
</div>
