<header>
  <h1>Transformamos tus eventos en experiencias únicas e inolvidables</h1>
</header>

<div class="wrapper">
  <img src="/assets/logo.jpg" />
  <div class="form">
    <h1>Contacto</h1>
    <form>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required />

      <label for="message">Consulta:</label>
      <textarea id="message" name="message" required></textarea>

      <input type="submit" value="Enviar" />
    </form>
  </div>
</div>

<app-img-background></app-img-background>
