<header>
  <h1>Transformamos tus eventos en experiencias únicas e inolvidables</h1>
</header>

<div class="wrapper">
  <img src="/assets/logo.jpg" />

  <div class="form">
    <div class="request-message" *ngIf="requestMessage.show">
      {{ requestMessage.message }}
    </div>
    <h1>Contacto</h1>
    <form [formGroup]="form" (ngSubmit)="enviarConsulta()">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" formControlName="nombre" />

      <label for="correo">Correo electrónico:</label>
      <input type="correo" id="correo" name="correo" formControlName="correo" />

      <label for="message">Consulta:</label>
      <textarea
        id="message"
        name="message"
        formControlName="message"
      ></textarea>
      <input type="submit" value="Enviar" />
    </form>
  </div>
</div>

<app-img-background></app-img-background>
